#!bin/bash
# aliases
#

alias r=ranger
alias vim=nvim
alias vi=nvim
alias open="xdg-open"
# copy to clipboard quickly
alias x="xsel -b"

alias ls='ls --color=auto'
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias np='nano -w PKGBUILD'
alias more=less
